<!doctype html>
<html lang="en">
<head>
    <title>Homam Hosseini</title>
    <meta charset="utf-8" />
    <meta name="description" content="Head of Products at Mobitrans; Homam is a software architect and developer, experienced in mobile, advergaming, data visualization and distributed systems."/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link href="styles/index.css" type="text/css" rel="stylesheet" />
    <%- css.renderTags("cv") %>
</head>
<body class="">

    <div id="fx"></div>

    <article itemscope itemtype="http://schema.org/Person">
    <h1 itemprop="name">Homam Hoseeini</h1>

    <section class="summary">
        <h2>Summary</h2>
        <ul>
            <li data-skill="arch dev">
                Software architect of distributed systems,
                mobile apps and Web <abbr title="Rich Internet Applications">RIAs</abbr>.</li>
            <li data-skill="lead">
                Product development manager of consumer faced internet applications,
                leading mixed
                teams of designers, developers and creative artists using agile methodologies.</li>
            <li data-skill="mobile dev games">
                Experienced in mobile Value Added Services,
                micro payment, e-learning and casual game industries.</li>
            <li data-skills="dev data">
                Strongly interested with a significant background in data-driven approaches, predictive modeling,
                data visualization and and functional programming.
            </li>
            <li data-skill="data lead dev arch">
                Deep grasp of front-end development,
                design patterns, requirements analysis, project management, Service Oriented Architecture,
                data analysis and visualization, cloud, databases, web and mobile development and programing.</li>
        </ul>
    </section>
    <section class="skills">
        <h2>Skills</h2>
        <ul class="list">
            <li class="a">.NET </li><li class="c">ActionScript </li><li class="a">AJAX </li><li class="a">Architecture </li><li class="a">C# </li><li class="b">Canvas </li><li class="a">Casual Games </li><li class="b">Cloud Computing </li><li class="a">CSS3 </li><li class="a">d3 </li><li class="b">Data Visualization </li><li class="a">Distributed Syststems </li><li class="a">Git </li><li class="b">Haskell </li><li class="a">HTML5 </li><li class="c">Java </li><li class="a">JavaScript </li><li class="c">Mathematica </li><li class="a">MVC </li><li class="b">Node.js </li><li class="b">Objective-C </li><li class="c">Python </li><li class="c">R </li><li class="c">Ruby </li><li class="c">Scala </li><li class="a">Scrum </li><li class="b">Simulations </li><li class="a">SOA </li><li class="a">SQL </li><li class="b">SVG </li><li class="b">XML </li>
        </ul>
    </section>
    <section class="experiences">
        <h2>Experiences</h2>
        <div class="experience">
            <h3 itemprop="jobTitle">Head of Products at Mobitrans</h3>
            <div class="time">April 2010 onward</div>
            <p class="company">
                Mobitrans is the leading digital marketing and distribution services company with focus on emerging markets.
            </p>
            <p data-skill="lead">
                I am the lead of a very talented team of developers, designers and content producers, my main
                responsibility is extending the company’s portfolio by developing and marketing new products and services.
            </p>
            <p data-skill="dev mobile games">
                Mobitrans most prominent products have been developed under my direction;
                <a target="_blank" href="http://www.vipgames.me">VIPgames.me</a>: a Web and mobile casual games portal, we were one of
                the firsts that offered mobile HTML5 games;
                <a target="_blank" href="http://www.babelbay.com">Babelbay.com</a>: a language learning service, providing 7 language courses
                in a dozen locales;
                <a target="_blank" href="http://www.brain2train.com">Brain2train.com</a>: multi player trivia quiz mobile app;
                and the current flagship product of the company:
                <a target="_blank" href="http://www.mobileacademy.com">MobileAcademy.com</a> that is a comprehensive m-learning suite.
            </p>
            <p data-skill="dev lead biz">
                My team has been the main driver of the company's accelerated growth.
                I developed new sale channels, enhanced our micro payment methods
                by improving the user experience, performance and the opt-in methods.
                I led our marketing efforts by producing the advertisement materials,
                campaign data analysis and enhancements.
            </p>
            <p>
                I overhauled our legacy systems and helped the teams in transitioning,
                developed data mining and tracking methods and
                introduced new technologies,
                software and tools and fostered agility and teamwork.
            </p>
        </div>
        <div class="experience">
            <h3>Director of Product Development at RENA Dubai</h3>
            <div class="time">May 2007 - April 2010</div>
            <p>
                As one of the founders, I was handling the product development.

                I developed RENA's award winning product: Hyzonia: an on-demand, customizable
                massively multiplayer online game creation engine with built-in product placement advertising tools.
            </p>
            <p>
                I hired the development team, created the system's scalable <abbr title="Service Oriented Architecture">SOA</abbr>
                architecture that was made of tens of distributed online apps and made the extension points and a RESTful API.
            </p>
            <p>
                I contributed to the game design the advergames,
                worked with <abbr title="User Experience">UX</abbr> designers on creating the
                <abbr title="User Interface">UI</abbr> and the <abbr title="Visual Effects">VFX</abbr> and
                guided the team in overcomin the technical obstacles of developing highly dynamic UX on the Web
                using advanced JavaScript and cutting-edge techniques.
            </p>
            <p>
                I created a real-time cross browser communication channel for live user interactions,
                and programmed a bot and the software to simulate the virtual world's economy.
            </p>
            <p>
                I assisted in drafting the business plan, delivered sales pitch to the customers and investors,
                and laid out and executed our successful social media strategy.
            </p>
        </div>
        <div class="experience">
            <h3>Associate Editor at Nojum Magazine</h3>
            <div class="time">2001 - 2008</div>
            <p>
                I started working at Nojum (astronomy) magazine and its parent company (Zarvan) when I was a junior high school student.
                I published dozens of articles, helped the company to maintain a robust online presence,
                and modernized the IT department by introducing new tools and software.
            </p>
            <ul>
                <li><strong>Webcasting</strong> of astronomy events (eclipses and planetary transits) to tens of thousands of concurrent online audience.
                    I collected the team, created the capture and streaming software and led the operations during the live events.</li>
                <li><strong>Data Visualization</strong> of <abbr title="Geographic Information System">GIS</abbr> data
                    for projecting asteroid occultation graze maps, I developed a cross browser
                    <abbr title="Scalable Vector Graphics">SVG</abbr>/<abbr title="Vector Markup Language">VML</abbr> online planetarium sky map.</li>
                <li><strong>Sky Map Planetarium</strong> was a multi-platform on Web, desktop, Windows Mobile and print sky charting app.
                    The print output was used in the magazine's double spread pages and posters. The Web version was one of the first
                    online planetariums.
                 </li>
            </ul>
            <p>
                I had a monthly column featuring my maps and visualizations for amateur astronomers.
            </p>
        </div>
        <div class="experience">
            <h3>And...</h3>
            <p>
                I'm a contributor to several open-source projects.
            </p>
            <p>
                During my university and high school years I had worked on a number of software
                and web design projects including: an online toy store (for RENA in Tehran)
                an online booklet store, an Astronomy Class Library in C++ and C# that was originally
                a hobby project but transformed into a handy framework for astronomical computation
                plus a few other online stores and websites.
            <p>
                In 2004 I created ZoodFood, an online food delivery website that was made of a web interface and a number
                of Windows clients connected to other nodes by .NET Remoting channels for real time communications.
            </p>
        </div>
    </section>
    <% if (ed) {%>
	<section class="activities">
		<h2>Education</h2>
		<p>
			BSc. in Physics, Azad University of Tehran (2007)
		</p>
		<p>
			Notable activities:
		</p>
		<ul>
            <%- include parts/ed-activities.ejs %>
		</ul>
	</section>
    <% } %>
    <section class="activities">
        <h2>Other Activities</h2>
        <ul>
            <% if (!ed) { %>
            <%- include parts/ed-activities.ejs %>
            <% } %>
            <li>Science adviser to So Close So Far movie (Kheili Dour, Kheili Nazdik), winner of Crystal Simorgh
                (Iran's best picture)
                for the Best Film in Fajr Film Festival, 2004</li>
            <li>Worked as a Special Effects Technician for Night Sky live TV show in Iran</li>
            <li>Astro Photography</li>
        </ul>
    </section>
    <section>
        <h2>Personal Information</h2>
        <div>Homam Hosseini</div>
        <div class="twitter"><a rel="me" itemprop="url" class="twitter" target="_blank" href="http://twitter.com/homam">@homam</a></div>
        <div><a rel="me" itemprop="telephone" href="tel:+971-555268287">+971-555268287</a</div>
        <div><a rel="me" itemprop="email" href="mailto:homam@live.com">homam@live.com</a></div>
        <div class="social"><a rel="me" itemprop="url" target="_blank" href="http://homam.me/cv">homam.me/cv</a></div>
        <div class="social google"><a rel="author" href="https://plus.google.com/106168197386890589409?rel=author"></a></div>
    </section>
    </article>

    <div class="modal">
        <a class="twitter-timeline" href="https://twitter.com/homam" data-widget-id="371210822388686848">@homam</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>


    <%- (js.renderTagsDefer('libs',{disableGlobal:true})) %>
    <script src="javascript/index.js" defer="defer"></script>
</body>
</html>