<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Head of Products at Mobitrans; Homam is a software architect and developer, experienced in mobile, advergaming, data visualization and distributed systems."/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>Homam's</title>
    <%- css.renderTags("home") %>
</head>
<body>
<div id="viewport">
<ul>
    <%
    links = [
        {name: '@homam', href: 'https://twitter.com/homam'},
        {name: 'LinkedIn', href: 'http://ae.linkedin.com/in/homamhosseini'},
        {name: 'Facebook', href: 'https://www.facebook.com/homam.me'},
        {name: 'My Company', href: 'http://www.mobitrans.com/'},
        {name: 'My Resume', href: 'cv'}
    ];
    for(var i=0; i<links.length; i++) {
    link = links[i];
    %>
    <li>
        <a href='<%= link.href%>' target="_blank">
            <%= link.name %>
        </a>
    </li>
    <% } %>
</ul>
</div>
<%- js.renderTags("home") %>
</body>
</html>