<!doctype html>
<html lang="en">
    <head>
        <title>Homam Hosseini</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/superformula.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="javascript/index.js"></script>
        <link href="styles/index.css" type="text/css" rel="stylesheet" />
    </head>
<body class="">
    <article>
    <h1>Homam Hoseeini</h1>
    <section class="summary">
        <h2>Summary</h2>
        <ul>
            <li>Software architect and designer of distributed applications,
                mobile apps and Web <abbr title="Rich Internet Application">RIA</abbr>s</li>
            <li>Product development manager of consumer faced internet applications
                experienced in leading
                teams of software developers using agile methodologies.</li>
            <li>Experienced in mobile <abbr title="Valude Added Services">VAS</abbr>,
                micro payment, e-learning and casual game industries.</li>
            <li>Deep understanding of information systems,
                design patterns, requirements analysis, project management, Service Oriented Architecture,
                data analysis and functional programming.</li>
        </ul>
    </section>
    <section class="skills">
        <h2>Skills</h2>
        <ul class="list"></ul>
    </section>
    <section class="experiences">
        <h2>Experiences</h2>
        <div class="experience">
            <h3>Head of Products at Mobitrans</h3>
            <div class="time">April 2010 onward</div>
            <p>
                As the lead of a very talented team of developers, designers and content producers, my main
                responsibility is extending the company’s portfolio by developing and marketing new products.
            </p>
            <p>
                Mobitrans most prominent products have been developed under my direction;
                VIPgames.com: a Web and mobile casual gaming portal, Babelbay.com: a language learning service and
                the current flagship product of the company: MobileAcademy.com that is a m-learning suit.
            </p>
            <p>
                My team has been the main driver of the company's accelerated growth.
                I developed new sale channels, enhanced the micro payment methods
                by improving the user experience, performance and the opt-in methods.
                I led our marketing efforts by producing the advertisement materials,
                campaign data analysis and enhancements.
            </p>
            <p>
                I overhauled our legacy systems and helped the teams in transitioning,
                developed data mining and tracking methods and
                introduced new technologies,
                software and tools and fostered agility and teamwork.
            </p>
        </div>
        <div class="experience">
            <h3>Director of Product Development at RENA Dubai</h3>
            <div class="time">May 2007 - April 2010</div>
            <p>
                As one of the founders, I was responsible for product development.

                I developed RENA's award winning product: Hyzonia that was an on-demand, customizable
                massively multiplayer online game creation engine with built-in product placement advertising tools.
            </p>
            <p>
                I hired the development team, created the system's scalable <abbr title="Service Oriented Architecture">SOA</abbr>
                architecture that was made of tens of distributed online apps and made the extension points and a RESTful API.
            </p>
            <p>
                I contributed to the design and development of the advergames,
                worked with <abbr title="User Experience">UX</abbr> designers on creating the
                <abbr title="User Interface">UI</abbr> and the <abbr title="Visual Effects">VFX</abbr> and
                guided the team in developing a highly dynamic UX on Web using advanced JavaScript and cutting-edge
                techniques.
                I created a real-time cross browser communication channel for live user interactions,
                programmed bots and software to simulate the virtual world's economy.
            </p>
            <p>
                I met with the customers and investors, helped in drafting the business plan, laid out and executed our
                successful social media strategy.
            </p>
        </div>
        <div class="experience">
            <h3>Associate Editor at Nojum Magazine</h3>
            <div class="time">2001 - 2008</div>
            <p>
                I started working at Nojum (astronomy) magazine and its parent company (Zarvan) when I was a high school student.
                I published dozens of articles, helped the company build its website and maintain a robust online presence,
                and also modernized the IT department by introducing new tools and software.
            </p>
            <ul>
                <li><strong>Webcasting</strong> of astronomy events (eclipses and planetary transits) to tens of thousands of concurrent online audience.
                    I collected the team, created the capture and streaming software.</li>
                <li><strong>Data Visualization</strong> of <abbr title="Geographic Information System">GIS</abbr> data
                    for projecting asteroid occultation graze maps, I developed a cross browser
                    <abbr title="Scalable Vector Graphics">SVG</abbr>/<abbr title="Vector Markup Language">VML</abbr> online planetarium sky map.</li>
                <li><strong>Sky Map Planetarium</strong> was a multi-platform on Web, desktop, Windows Mobile and print sky charting app.
                    The print output was used in the magazine's double spread pages and posters. The Web version was one of the first
                    online planetariums.
                 </li>
            </ul>
            <p>
                I had a monthly column featuring my maps and visualizations for amateure astronomers use.
            </p>
        </div>
        <div class="experience">
            <h3>Freelance Projects</h3>
            <div class="time">A long time ago, far far away</div>
            <p>
                During university and high school years I have worked on a number of interesting software development
                and web design projects including: an online toy store (for RENA in Tehran, one of the first online stores in Iran)
                an online booklet store, an Astronomy Class Library, originally
                a hobby project, transformed to a handy framework for astronomical computation using C++ and C#,
                plus a few other online stores and websites.
            <p>
                I created ZoodFood, an online food delivery network that was made of a web interface and a number
                of Windows clients connected to other nodes by .NET Remoting channels.
            </p>
        </div>
    </section>
    <section class="activities">
        <h2>Other Activities</h2>
        <ul>
            <li>Random Walk, Monte Carlo Simulation inn C# and Mathematica for some robotics projects and study
                of the Brownian motion.</li>
            <li>Persian Calendar, my implementation of the calendar is precise over thousands of years and is
                useful for historical date conversion purposes.</li>
            <li>Awarded Azad University’s Young Researcher Award, 2006</li>
            <li>Speaker in astronomy seminars in Iran, including a weekly lecture in the university on astrophysics</li>
            <li>Science adviser to So Close So Far movie (Kheili Dour, Kheili Nazdik), winner of Crystal Simorgh Prize
                (Iran's best picture)
                for the Best Film in Fajr Film Festival</li>
            <li>Worked with Night Sky live TV show as Special Effects Technician</li>
            <li>Astro Photography</li>
        </ul>
    </section>
    <section>
        <h2>Personal Information</h2>
        <div>Homam Hosseini</div>
        <div class="twitter"><a href="//twitter.com/homam">@homam</a></div>
        <div>Mobile: <span>+971-555268287</span></div>
        <div>homam@live.com</div>
        <div><a href="//homam.me/cv">homam.me/cv</a></div>
    </section>
    </article>
</body>
</html>