<!doctype html>
<html lang="en">
<head>
    <title>Homam Hosseini</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="javascript/libs/jquery2.js"></script>
    <script src="javascript/libs/d3.js"></script>
    <script src="javascript/libs/superformula.js"></script>
    <script src="javascript/libs/underscore.js"></script>
    <style type="text/css">
        input[type=range]{
            width: 1000px;
        }
        path {
            stroke: black;
            stroke-width: 2px;
            fill: green;
        }
    </style>
</head>
<body class="">

    <div id="controls"></div>
    <script src="javascript/super.js"></script>
</body>
</html>