<li>Random Walk, Monte Carlo Simulation in Mathematica and C# as part of my university project with application in
    robotics and the study of the Brownian motion.</li>
<li>Persian Calendar, <a href="http://www.codeproject.com/Articles/13465/Jalali-Calendar" target="_blank">my implementation</a>
of the calendar is precise over thousands of years and is
suitable for historical date conversion purposes.</li>
<li>Awarded Azad University’s Young Researcher Award, 2006</li>
<li>Speaker in astronomy seminars in Iran, including a series of weekly
    <a href="http://www.slideshare.net/homam" target="_blank">lectures</a> on astrophysics in my university.</li>