body {
  font: normal 12pt/20pt "Georgia Pro", georgia, serif;
}
@media print {
  body {
    font-family: normal 0.6111111111111112pt "Georgia Pro", georgia, serif;
  }
}
h1,
h2,
h3,
h4 {
  font-family: Helvetica, Calibri, sans-serif;
}
a {
  color: #83C035;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media print {
  a {
    color: #69992b;
    text-decoration: none;
  }
}
abbr.expand:before {
  content: attr(title) ' (';
}
abbr.expand:after {
  content: ')';
}
h1 {
  font-size: 1.7em;
  text-align: right;
}
h1:after {
  bottom: -100%;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(10px);
  z-index: -1;
}
@media screen and (max-width: 500px) {
  h1 {
    text-align: left;
    margin-bottom: 2ex;
  }
}
@media screen and (min-width: 500px) {
  h1 {
    text-align: right;
  }
}
@media print {
  h1 {
    margin-bottom: -1.3ex;
  }
}
body.fancy h1 {
  text-align: right;
  -webkit-transform: rotateZ(-1deg);
  margin: 20px 0 -20px 0;
  padding: 0;
}
h2 {
  color: #B33168;
  font-size: 1.4em;
}
h2:after {
  content: ' ';
  display: block;
  border-bottom: solid 1px #257681;
  margin-top: 8px;
}
h3 {
  color: #D2833A;
}
.summary ul {
  margin: auto 0 auto 0;
  padding: 0;
}
.summary ul li {
  margin: auto 0 1ex 0;
  padding: 0;
  list-style-type: none;
}
.skills .list {
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: justify;
}
.skills .list li {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
  display: inline;
  -webkit-transition: .5s;
  -webkit-transform: rotate(0);
}
@media screen and (min-width: 400px) {
  .skills .list li {
    padding-right: .2em;
  }
}
@media print {
  .skills .list li {
    padding-right: 0.35em;
  }
}
.skills .list li.a {
  font-size: 140%;
}
.skills .list li.b {
  font-size: 120%;
}
.skills .list li:hover {
  color: red;
}
article section {
  page-break-inside: auto;
}
article section:not(:first-of-type) {
  margin-top: 4ex;
}
@media print {
  article section {
    margin-top: 4ex;
  }
}
article section .experience:nth-child(4) {
  page-break-inside: avoid;
}
article section.activities {
  page-break-inside: avoid;
}
article {
  margin: auto;
  max-width: 680px;
  padding: 0 20px;
}
@media only screen and (max-device-width: 480px) {
  body,
  article {
    max-width: 100%;
    margin: 0;
  }
  ul {
    margin: 0;
    padding-left: 1em;
  }
}
@media print {
  .social.google {
    display: none;
  }
}
body.fancy h2:after {
  margin-top: 14px;
}
body.fancy section:nth-of-type(2n-1) h2:after {
  -webkit-transform: rotateZ(1deg);
}
body.fancy section:nth-of-type(2n) h2:after {
  -webkit-transform: rotateZ(-1deg);
  margin-top: 0px;
}
body.fancy .experience:nth-of-type(2n-1) {
  -webkit-transform: rotateZ(-1deg);
}
body.fancy .experience:nth-of-type(2n) {
  -webkit-transform: rotateZ(1deg);
  margin-top: 2em;
  margin-bottom: 2em;
}
@media screen and (max-width: 999px) {
  #fx {
    display: none;
  }
}
@media print {
  #fx {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  #fx {
    position: fixed;
    top: -120px;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-box-reflect: right -100%;
    z-index: -1;
  }
  svg {
    position: absolute;
    bottom: -100px;
    left: -10px;
    z-index: -1;
    width: 100%;
    -webkit-box-reflect: below -60%;
  }
  svg line {
    stroke: black;
  }
  svg path {
    stroke: rgba(247, 247, 247, 0.45);
    fill: rgba(247, 247, 247, 0.45);
  }
}
