body {
  font-family: Helvetica, Calibri, sans-serif;
  font-size: 1em;
}
h1 {
  font-size: 1.6em;
}
body.fancy h1 {
  text-align: right;
  -webkit-transform: rotateZ(-1deg);
  margin: 20px 0 -20px 0;
  padding: 0;
}
h2 {
  color: #B33168;
  font-size: 1.4em;
}
h2:after {
  content: ' ';
  display: block;
  border-bottom: solid 1px #257681;
  margin-top: 8px;
}
h3 {
  color: #D2833A;
}
a {
  color: #83C035;
}
.skills .list {
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: justify;
}
.skills .list li {
  margin: 0;
  padding: 0 0 0 0 ;
  display: inline;
  -webkit-transition: .5s;
  -webkit-transform: rotate(0);
}
.skills .list li.a {
  font-size: 140%;
}
.skills .list li.b {
  font-size: 120%;
}
.skills .list li:hover {
  color: red;
}
article {
  margin: auto;
  max-width: 680px;
  padding: 0 20px;
}
@media only screen and (max-device-width: 480px) {
  body,
  article {
    max-width: 100%;
    margin: 0;
  }
  ul {
    margin: 0;
    padding-left: 1em;
  }
}
body.fancy h2:after {
  margin-top: 14px;
}
body.fancy section:nth-of-type(2n-1) h2:after {
  -webkit-transform: rotateZ(1deg);
}
body.fancy section:nth-of-type(2n) h2:after {
  -webkit-transform: rotateZ(-1deg);
  margin-top: 0px;
}
canvas {
  position: fixed;
  bottom: -150px;
  z-index: -1;
}
svg {
  position: fixed;
  bottom: -100px;
  right: -200px;
  z-index: -1;
}
svg line {
  stroke: black;
}
svg path {
  stroke: rgba(247, 247, 247, 0.9);
  stroke-width: 4px;
  fill: none;
}
