body {
  font-family: Helvetica, Calibri, sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 1.6em;

  body.fancy & {
    text-align: right;
    -webkit-transform: rotateZ(-1deg);
    margin: 20px 0 -20px 0;
    padding: 0;
  }
}

h2 {
  color: #B33168;
  font-size: 1.4em;
  //border-bottom: solid 1px #257681;
}

h2:after {
  content: ' ';
  display: block;
  border-bottom: solid 1px #257681;
  margin-top: 8px;
}

body.fancy {

  h2:after {
    margin-top: 14px;
  }

  section:nth-of-type(2n-1) h2:after {
    -webkit-transform: rotateZ(1deg);
  }
  section:nth-of-type(2n) h2:after {
    -webkit-transform: rotateZ(-1deg);
    margin-top:0px;
  }

}

h3 {
  color: #D2833A;
}
a {
  color: #83C035;
}

.skills {
  .list {
    margin:0 auto 0 auto; padding: 0;
    text-align: justify;
    li {
      margin: 0; padding: 0 0 0 0 ;
      display: inline;
      &.a {
        font-size: 140%;
      }
      &.b {
        font-size: 120%;
      }
      -webkit-transition: .5s;
      -webkit-transform: rotate(0);
      &:hover {
        color:red;
      }
    }
  }
}

article {
  margin: auto;
  max-width: 680px;
  padding: 0 20px;
}

svg {
  position: absolute;
  top:0;left:0;
  z-index: -1;

  line {
    stroke: black;
  }
  path {
    stroke: purple;
    stroke-width: 4px;
    fill:none;
  }
}